<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
	<Appenders>
		<RollingFile name="RollingFile"
			fileName="./logs/rolling.log"
			filePattern="./logs/rolling-%d{dd-MM-yyyy HH-mm-ss}.log"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{dd-MM-yyyy HH:mm:ss} [%-5p] %.40C:%-3L %m%n</Pattern>
			</PatternLayout>
			<OnStartupTriggeringPolicy />
		</RollingFile>
		<!-- This appender is not used. Only rolling file appender is used 
		<File name="MyFile" fileName="./logs/app.log">
			<PatternLayout>
				<Pattern>%d %p %c [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
		 -->
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>