<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
	<Appenders>
		<RollingFile name="RollingFile"
			fileName="./logs/rolling.log"
			filePattern="./logs/rolling-%d{dd-MM-yyyy HH-mm-ss}.log"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{dd-MM-yyyy HH:mm:ss} [%-5p] %.40C:%-3L %m%n</Pattern>
			</PatternLayout>
			<OnStartupTriggeringPolicy />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>